
/* F1FAEE   */

p{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    font-size: small;
}

.activity-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

body{
    background: linear-gradient(#ffffff,#00BFFF);
    display : block;
}

.main-container{
    background-color:aliceblue;
    cursor: default;
    width : 800px;
    height : 1100px;
    margin : auto;
    border-radius: 6px;
    box-shadow: 0 0 5px;
    font-family: "Saira Stencil", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    color : rgb(255, 253, 255);
    
}

.city-name{
    background-image: url("images/vizag-main.jpg");
    background-size: cover;
    height : 350px;
    margin : 0 0;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.activity-container{
    background-color: rgb(134, 198, 208);
    height : 380px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.activities{
    display : flex;
    justify-content: space-around;
}

.activity {
    height: 240px;
    width : 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width : 200px;
    margin-left: 25px;
    margin-right: 25px;
    padding : 10px;
}

.activity:hover {
    cursor: pointer;
    box-shadow: 0 0 10px black;
    border-radius: 15%;
}

.container-1{
    width : 400px;
    height : 150px;
    text-align: center;
}

#city-description{
    background-color: rgb(142, 65, 221);
}
#city{
    text-shadow: 0 0 5px black;
    text-decoration-line: underline;
    color : rgb(255, 175, 106);
}

#guide-img {
    width : 200px;
    height: 200px;
    margin-right: 20px;
}

.guide-container{
    display: flex;
    justify-content:space-around;
    background-color: #274C77;
    width : 450px;
    padding: 10px 15px 20px 15px; 
    border-bottom: 10px solid #66999B;
    margin-top: 40px;
}

.guide-outer-container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#guide-description{
    text-align: center;
}